/* geral */
textarea {
  resize: none;
  cursor: pointer;

  outline: none;

  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;

  text-align: justify;
  font-size: 15px;
  font-weight: 900;

  border: 1px dashed black;
  border-radius: 5px;
}

textarea:focus {
  border: 2px dashed black;
}

textarea.texto-fixo {
  background-color: inherit;
}

textarea.texto-fixo:hover {
  background-color: #ccc;
}

textarea.texto-fixo:focus {
  background-color: #ccc;
}

textarea.entrada-texto {
  color: #444;
  background-color: rgb(180, 180, 0);
}

textarea.entrada-texto:hover {
  background-color: rgb(150, 150, 0);
}

textarea.entrada-texto:focus {
  background-color: rgb(150, 150, 0);
}

span.enumeracao {
  font-weight: bold;
  margin-top: 0.75rem;
}

span.enumeracao-sem-margem {
  font-weight: bold;
}

/* Modo de Preenchimento */
.preenchimento {
  margin: 0.25rem 0 0.25rem 5rem;

  font-size: 16px;
  font-weight: 500;
}

/* Modo de Edição */
.edicao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.escolha-alfabeto {
  text-align: center;
}

.sem-subitens {
  margin-top: 0.5rem;
}

.subitens {
  display: grid;
  grid-template-columns: 3fr 94fr 3fr;
}

.subitens:hover {
  background-color: #ddd;
}

button.clear {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}

/* Modo de Pré-visualização*/
.pre-visualizacao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.subitens-pre-visualizacao {
  padding: 0.15rem;
  margin: 0.25rem 0.5rem 0 5rem;
}

/* menu (Modo de Edição e Pré-visualização) */
.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

.botaoMenu {
  margin-top: 0.25rem;
}

/* paragrafos (Modo de Preenchimento e Pré-visualização) */
.subitem-lista {
  display: grid;
  grid-template-columns: 3fr 97fr;

  margin-top: 0.35rem;
}