<div class="content">
  <mat-toolbar>
    <div>
      <h1>Sistema de Licitação - Documento</h1>
      <span style="font-size: 12px">{{ usuarioNome }} [{{ usuarioID }}]</span>
    </div>
    <span class="spacer"></span>
    <button
      mat-stroked-button
      class="botao-toolbar"
      routerLink="/sistemaLicitacao"
    >
      Voltar
    </button>
  </mat-toolbar>

  <div *ngIf="listaDocumentos.length !== 0">
    <div>
      <h2 class="descricao">Lista de Documentos</h2>

      <button
        class="btn-criar-documento"
        mat-stroked-button
        title="Criar novo documento"
        (click)="openDialogCriacaoDocumento()"
      >
        <mat-icon>add_circle</mat-icon>
        <div>Criar Novo Documento</div>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Identificacao</th>
          <th>Status</th>
          <th>Criação</th>
          <th>Última Edição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of listaDocumentos">
          <td>{{ doc.documentoID | uppercase }}</td>
          <td>
            <a
              [href]="
                './sistemaLicitacao/preenchimentoDocumento/' +
                doc.documentoID
              "
              >{{ doc.identificacao }}</a
            >
          </td>
          <td>{{ doc.status }}</td>
          <td>{{ doc.criacao }}</td>
          <td>{{ doc.edicao }}</td>
          <td>
            <div class="acoes">
              <button
                mat-icon-button
                title="Editar Documento"
                [routerLink]="'/sistemaLicitacao/preenchimentoDocumento/' + doc.documentoID"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                title="Enviar para Análise"
              >
                <mat-icon>done</mat-icon>
              </button>

              <button
                mat-icon-button
                title="Exportar"
                disabled
              >
                <mat-icon>file_download</mat-icon>
              </button>

              <button
                mat-icon-button
                title="Excluir Documento"
                (click)="openDialogExclusaoDocumento(doc.documentoID, doc.identificacao)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="listaDocumentos.length === 0">
    <div style="display: block; clear: both">
      <h2 class="descricao">Nenhum Documento criado</h2>

      <button
        class="btn-criar-documento"
        mat-stroked-button
        title="Criar novo documento"
        (click)="openDialogCriacaoDocumento()"
      >
        <mat-icon>add_circle</mat-icon>
        <div>Criar Novo Documento</div>
      </button>
    </div>
  </div>

  <div *ngIf="criandoDocumento">
    Criando Documento. Em instantes você será redirecionado.
  </div>
</div>
