<div class="content">
  <mat-toolbar>
    <div>
      <h1>Sistema de Licitação - Documento</h1>
      <span style="font-size: 12px">{{ usuarioNome }} [{{ usuarioID }}]</span>
    </div>
    <span class="spacer"></span>
    <button
      mat-stroked-button
      class="botao-toolbar"
      routerLink="/"
    >
      Voltar
    </button>
  </mat-toolbar>

  <div>
    <h2 class="descricao">Lista de Documentos</h2>

    <button
      class="btn-criar-documento"
      mat-stroked-button
      title="Criar novo documento"
      (click)="openDialogCriacaoDocumento()"
      [disabled]="criandoDocumento"
    >
      <mat-icon>add_circle</mat-icon>
      <div>Criar Novo Documento</div>
    </button>
  </div>

  <mat-tab-group style="clear: both">
    <mat-tab label="Documentos em Edição">
      <div *ngIf="listaDocumentosEmEdicao.length !== 0">
        <table class="table">
          <thead>
            <tr>
              <th>Identificacao</th>
              <th>Código</th>
              <th>Status</th>
              <th>Criação</th>
              <th>Última Edição</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of listaDocumentosEmEdicao">
              <td>
                <a
                  [href]="
                    './visualizacaoDocumento/' +
                    doc.documentoID
                  "
                  target="_blank"
                  >{{ doc.identificacao }}</a
                >
              </td>
              <td>{{ doc.documentoID | uppercase }}</td>
              <td>{{ doc.status }}</td>
              <td>{{ doc.criacao }}</td>
              <td>{{ doc.edicao }}</td>
              <td>
                <div class="acoes">
                  <button
                    mat-icon-button
                    title="Editar Documento"
                    [routerLink]="
                      '/preenchimentoDocumento/' +
                      doc.documentoID
                    "
                  >
                    <mat-icon>edit</mat-icon>
                  </button>

                  <a
                    mat-icon-button
                    title="Visualizar Documento"
                    [routerLink]="
                      '/visualizacaoDocumento/' +
                      doc.documentoID
                    "
                    target="_blank"
                  >
                    <mat-icon>plagiarism</mat-icon>
                  </a>

                  <button
                    mat-icon-button
                    title="Enviar Documento para análise"
                    (click)="enviarDocumentoParaAnalise(doc.documentoID)"
                  >
                    <mat-icon>task</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    title="Excluir Documento"
                    (click)="
                      openDialogExclusaoDocumento(
                        doc.documentoID,
                        doc.identificacao
                      )
                    "
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="listaDocumentosEmEdicao.length === 0">
        <h2 class="lista-documentos-vazia">Nenhum Documento <b>Em Edição</b> encontrado</h2>
      </div>
    </mat-tab>

    <mat-tab label="Documentos em Análise">
      <div *ngIf="listaDocumentosEmAnalise.length !== 0">
        <table class="table">
          <thead>
            <tr>
              <th>Identificacao</th>
              <th>Código</th>
              <th>Status</th>
              <th>Criação</th>
              <th>Última Edição</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of listaDocumentosEmAnalise">
              <td>
                <a
                  [href]="
                    './visualizacaoDocumento/' +
                    doc.documentoID
                  "
                  target="_blank"
                  >{{ doc.identificacao }}</a
                >
              </td>
              <td>{{ doc.documentoID | uppercase }}</td>
              <td>{{ doc.status }}</td>
              <td>{{ doc.criacao }}</td>
              <td>{{ doc.edicao }}</td>
              <td>
                <div class="acoes">
                  <a
                    mat-icon-button
                    title="Visualizar Documento"
                    [routerLink]="
                      '/visualizacaoDocumento/' +
                      doc.documentoID
                    "
                    target="_blank"
                  >
                    <mat-icon>plagiarism</mat-icon>
                  </a>

                  <button
                    mat-icon-button
                    title="Reabilitar edição do Documento"
                    (click)="enviarDocumentoParaEdicao(doc.documentoID)"
                  >
                    <mat-icon>restore_page</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="listaDocumentosEmAnalise.length === 0">
        <h2 class="lista-documentos-vazia">Nenhum Documento <b>Em Análise</b> encontrado</h2>
      </div>
    </mat-tab>

    <mat-tab label="Documentos Aprovados">
      <div *ngIf="listaDocumentosAprovados.length !== 0">
        <table class="table">
          <thead>
            <tr>
              <th>Identificacao</th>
              <th>Código</th>
              <th>Status</th>
              <th>Criação</th>
              <th>Última Edição</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of listaDocumentosAprovados">
              <td>
                <a
                  [href]="
                    './visualizacaoDocumento/' +
                    doc.documentoID
                  "
                  target="_blank"
                  >{{ doc.identificacao }}</a
                >
              </td>
              <td>{{ doc.documentoID | uppercase }}</td>
              <td>{{ doc.status }}</td>
              <td>{{ doc.criacao }}</td>
              <td>{{ doc.edicao }}</td>
              <td>
                <div class="acoes">
                  <a
                    mat-icon-button
                    title="Visualizar Documento"
                    [routerLink]="
                      '/visualizacaoDocumento/' +
                      doc.documentoID
                    "
                    target="_blank"
                  >
                    <mat-icon>plagiarism</mat-icon>
                  </a>

                  <button
                    mat-icon-button
                    title="Exportar Documento"
                    (click)="exportarDocumento(doc.documentoID)"
                  >
                    <mat-icon>file_download</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="listaDocumentosAprovados.length === 0">
        <h2 class="lista-documentos-vazia">Nenhum Documento <b>Aprovado</b> encontrado</h2>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
