<div class="content">
  <mat-toolbar>
    <h1>Sistema de Licitação - Documento Base</h1>
    <span class="spacer"></span>
    <button mat-stroked-button class="botao-toolbar" routerLink="/">
      Voltar
    </button>
  </mat-toolbar>

  <div *ngIf="listaDocumentosBase.length !== 0">
    <div>
      <h2 class="descricao">Lista de Documentos Base</h2>
      <button
        class="btn-criar-documento-base"
        mat-stroked-button
        (click)="criarDocumentoBase()"
        [disabled]="criandoDocumentoBase"
      >
        <mat-icon>add</mat-icon>
        <div>Criar Documento Base</div>
      </button>
    </div>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="filtro"
        (input)="filtrarListaDocumentosBase()"
      />
    </mat-form-field>
    <table class="table" *ngIf="listaDocumentosBaseFiltrados.length !== 0">
      <thead>
        <tr>
          <th>Identificação</th>
          <th>Código</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docb of listaDocumentosBaseFiltrados">
          <td>
            <a [href]="'./criacaoDocumentoBase/' + docb.documentoBaseID">{{
              docb.identificacaoDocumentoBase
            }}</a>
          </td>
          <td>{{ docb.documentoBaseID | uppercase }}</td>
          <td>
            <div class="acoes">
              <button
                mat-icon-button
                title="Editar Documento Base"
                [routerLink]="'/criacaoDocumentoBase/' + docb.documentoBaseID"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                title="Clonar Documento Base"
                (click)="clonarDocumentoBase(docb.documentoBaseID)"
                [disabled]="criandoDocumentoBase"
              >
                <mat-icon>file_copy</mat-icon>
              </button>
              <button
                mat-icon-button
                title="Excluir Documento Base"
                (click)="
                  openDialogExclusaoDocumentoBase(
                    docb.documentoBaseID,
                    docb.identificacaoDocumentoBase
                  )
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="listaDocumentosBaseFiltrados.length === 0" class="lista-filtrada-vazia">
      Nenhum Documento Base encontrado com o filtro <b>{{ filtro }}</b>
    </div>
  </div>

  <div *ngIf="listaDocumentosBase.length === 0">
    <div>
      <h2 class="descricao">Nenhum Documento Base criado</h2>

      <button
        class="btn-criar-documento-base"
        mat-stroked-button
        (click)="criarDocumentoBase()"
      >
        <mat-icon>add</mat-icon>
        <div>Criar Documento Base</div>
      </button>
    </div>
  </div>
</div>
