<div class="content">
  <mat-toolbar>
    <div>
      <h1>Sistema de Licitação - Documento Base</h1>
      <span style="font-size: 12px">{{ usuarioNome }} [{{ usuarioID }}]</span>
    </div>
    <span class="spacer"></span>
    <button
      mat-stroked-button
      class="botao-toolbar"
      routerLink="/"
    >
      Voltar
    </button>
  </mat-toolbar>

  <div *ngIf="listaDocumentosBase.length !== 0">
    <div>
      <h2 class="descricao">Lista de Documentos Base</h2>

      <button
        class="btn-criar-documento-base"
        mat-stroked-button
        (click)="criarDocumentoBase()"
        [disabled]="criandoDocumentoBase"
      >
        <mat-icon>add</mat-icon>
        <div>Criar Documento Base</div>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Código</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docb of listaDocumentosBase">
          <td>
            <a
            [href]="
            './criacaoDocumentoBase/' +
            docb.documentoBaseID
            "
            >{{ docb.nomeDocumentoBase }}</a
            >
          </td>
          <td>{{ docb.documentoBaseID | uppercase }}</td>
          <td>
            <div class="acoes">
              <button
                mat-icon-button
                title="Editar Documento Base"
                [routerLink]="
                  '/criacaoDocumentoBase/' +
                  docb.documentoBaseID
                "
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                title="Clonar Documento Base"
                (click)="clonarDocumentoBase(docb.documentoBaseID)"
                [disabled]="criandoDocumentoBase"
              >
                <mat-icon>file_copy</mat-icon>
              </button>
              <button
                mat-icon-button
                title="Excluir Documento Base"
                (click)="
                  openDialogExclusaoDocumentoBase(
                    docb.documentoBaseID,
                    docb.nomeDocumentoBase
                  )
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="listaDocumentosBase.length === 0">
    <div style="display: block; clear: both">
      <h2 class="descricao">Nenhum Documento Base criado</h2>

      <button
        class="btn-criar-documento-base"
        mat-stroked-button
        (click)="criarDocumentoBase()"
      >
        <mat-icon>add</mat-icon>
        <div>Criar Documento Base</div>
      </button>
    </div>
  </div>
</div>
