<div class="content">
  <mat-toolbar>
    <h1>Visualização de Documento</h1>
  </mat-toolbar>
  <div class="documento" [innerHtml]="documentoSEI"></div>
  <div class="rodape-vazio"></div>

  <div class="correcao">
    <mat-toolbar [class]="classeToolbarCorrecoes">
      <h2>Correções</h2>
      <span class="spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        *ngIf="modoExibicaoCorrecoes === 'fechado'"
        title="Maximizar"
        (click)="maximizarCorrecoes()"
      >
        <mat-icon>visibility</mat-icon>
      </button>

      <button
        mat-icon-button
        class="example-icon"
        *ngIf="modoExibicaoCorrecoes === 'aberto'"
        title="Minimizar"
        (click)="minimizarCorrecoes()"
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-toolbar>
    <app-correcoes
      [modoExibicao]="modoExibicaoCorrecoes"
      [documentoID]="documentoID"
    ></app-correcoes>
  </div>
</div>
