.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

h1 {
  font-size: 28px;
}

.documento {
  width: 90%;
  margin: 0.5rem auto;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #ccc;
}

.rodape-vazio {
  height: 10rem;
}

.correcao {
  position: fixed;
  bottom: 100px;
  right: 100px;
  box-shadow: 1px 1px 5px #555;

  border-radius: 10px;
}

.bordas-superiores-arredondadas {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bordas-arredondadas {
  border-radius: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.destacar {
  font-weight: bold;
  color: darkorange !important;
}

/* estilos obtidos do SEI */
p.Texto_Centralizado_Maiusculas_Negrito {
  font-weight: bold;
  font-size: 13pt;
  font-family: Calibri;
  text-align: center;
  text-transform: uppercase;
  word-wrap: normal;
}

p.Item_Nivel1 {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e6e6e6;
  font-size: 12pt;
  font-family: Calibri;
  text-align: justify;
  word-wrap: normal;
  text-indent: 0;
  margin: 6pt;
  counter-increment: item-n1;
  counter-reset: item-n2 romano_maiusculo letra_minuscula;
}
p.Item_Nivel1:before {
  content: counter(item-n1) ".";
  display: inline-block;
  width: 25mm;
  font-weight: normal;
}

p.Item_Nivel2 {
  font-size: 12pt;
  font-family: Calibri;
  text-indent: 0mm;
  text-align: justify;
  word-wrap: normal;
  margin: 6pt;
  counter-increment: item-n2;
  counter-reset: romano_maiusculo letra_minuscula;
}
p.Item_Nivel2:before {
  content: counter(item-n1) "." counter(item-n2) ".";
  display: inline-block;
  width: 25mm;
  font-weight: normal;
}

p.Item_Alinea_Letra {
  font-size: 12pt;
  font-family: Calibri;
  text-indent: 0mm;
  text-align: justify;
  word-wrap: normal;
  margin: 6pt 6pt 6pt 120px;
  counter-increment: letra_minuscula;
}
p.Item_Alinea_Letra:before {
  content: counter(letra_minuscula, lower-latin) ") ";
  display: inline-block;
  width: 5mm;
  font-weight: normal;
}

p.Item_Inciso_Romano {
  font-size: 12pt;
  font-family: Calibri;
  text-align: justify;
  word-wrap: normal;
  text-indent: 0mm;
  margin: 6pt 6pt 6pt 120px;
  counter-increment: romano_maiusculo;
  counter-reset: letra_minuscula;
}
p.Item_Inciso_Romano:before {
  content: counter(romano_maiusculo, upper-roman) " - ";
  display: inline-block;
  width: 15mm;
  font-weight: normal;
}

p.Texto_Justificado_Recuo_Primeira_Linha {
  font-size: 12pt;
  font-family: Calibri;
  text-indent: 25mm;
  text-align: justify;
  word-wrap: normal;
  margin: 6pt;
}

p.Texto_Justificado {
  font-size: 12pt;
  font-family: Calibri;
  text-align: justify;
  word-wrap: normal;
  text-indent: 0;
  margin: 6pt !important;
}
