.aberto {
  width: 300px;
  min-height: 200px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: blue;
}

.fechado {
  width: 200px;
  height: 0;
}

.subitem {
  display: grid;
  grid-template-columns: 85fr 15fr;

  margin: 0.5rem 0.25rem;
  padding: 0.25rem;
  background-color: #ddd;

  border-radius: 5px;
}

.fechado * {
  display: none;
}
