<!-- MODO DE PREENCHIMENTO - forma como o documento é visto por quem o preenche -->
<div *ngIf="modoExibicao === 'preenchimento'">
  <span *ngFor="let subitem of subitens; index as i">
    <!-- se subitem.tipo === 'texto-fixo' -->
    <p class="texto-fixo" *ngIf="subitem.tipo === 'texto-fixo'">
      {{ subitem.conteudo }}
    </p>

    <!-- se subitem.tipo === 'entrada-texto' -->
    <span class="entrada-texto" *ngIf="subitem.tipo === 'entrada-texto'">
      <textarea
        class="entrada-texto"
        [placeholder]="subitem.placeholder"
        [(ngModel)]="entradasTexto[i]"
        appTextareaAutoresize
      ></textarea>
    </span>
  </span>
</div>

<!-- MODO DE EDIÇÃO - forma como o documento é visto por quem o cria enquanto ele está editando -->
<div *ngIf="modoExibicao === 'edicao'" class="grid-5-1-94">
  <aside class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botaoMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="adicionarTextoFixo()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Texto Fixo</span>
      </button>

      <button mat-menu-item (click)="adicionarEntradaTexto()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Entrada Texto</span>
      </button>

      <button mat-menu-item (click)="habilitarPreVisualizacao()">
        <mat-icon>visibility</mat-icon>
        <span>Ativar Pré-visualização</span>
      </button>
    </mat-menu>
  </aside>
  <span></span>
  <div>
    <div *ngIf="subitens.length === 0">
      Adicione subitens usando o menu ao lado
    </div>
    <div class="subitens" *ngFor="let subitem of subitens; index as i">
      <!-- se subitem.tipo === 'texto-fixo' -->
      <textarea
        class="texto-fixo"
        *ngIf="subitem.tipo === 'texto-fixo'"
        placeholder="Insira aqui o texto fixo"
        [(ngModel)]="subitens[i].conteudo"
        appTextareaAutoresize
        >{{ subitem.conteudo }}</textarea
      >
      <button
        class="clear"
        *ngIf="subitem.tipo === 'texto-fixo'"
        mat-icon-button
        (click)="removerSubitem(i)"
      >
        <mat-icon>clear</mat-icon>
      </button>

      <!-- se subitem.tipo === 'entrada-texto' -->
      <textarea
        class="entrada-texto"
        *ngIf="subitem.tipo === 'entrada-texto'"
        placeholder="Insira aqui uma mensagem explicativa"
        [(ngModel)]="subitens[i].placeholder"
        appTextareaAutoresize
        >{{ subitem.placeholder }}</textarea
      >
      <button
        class="clear"
        *ngIf="subitem.tipo === 'entrada-texto'"
        mat-icon-button
        (click)="removerSubitem(i)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- MODO DE PRÉ-VISUALIZAÇÃO - forma como o documento é visto por quem o cria enquanto ele está pre-visualizando -->
<div *ngIf="modoExibicao === 'pre-visualizacao'" class="grid-5-1-94">
  <aside class="menu">
    <button
      mat-icon-button
      (click)="habilitarEdicao()"
      title="Desativar Pré-visualização"
    >
      <mat-icon>visibility_off</mat-icon>
    </button>
  </aside>
  <span></span>
  <div class="pre-visualizacao">
    <span *ngFor="let subitem of subitens; index as i">
      <!-- se subitem.tipo === 'texto-fixo' -->
      <p class="texto-fixo" *ngIf="subitem.tipo === 'texto-fixo'">
        {{ subitem.conteudo }}
      </p>

      <!-- se subitem.tipo === 'entrada-texto' -->
      <span class="entrada-texto" *ngIf="subitem.tipo === 'entrada-texto'">
        <textarea
          class="entrada-texto"
          [placeholder]="subitem.placeholder"
          [(ngModel)]="entradasTexto[i]"
          appTextareaAutoresize
        ></textarea>
      </span>
    </span>
  </div>
</div>

<!-- MODO SEI - forma como o documento ficará no SEI -->
<div *ngIf="modoExibicao === 'sei'">
  <p class="Texto_Justificado">
    <span *ngFor="let subitem of subitens; index as i">
      <span *ngIf="subitem.tipo === 'texto-fixo'">{{ subitem.conteudo }} </span>
      <span *ngIf="subitem.tipo === 'entrada-texto'"
        >{{ entradasTexto[i] }}
      </span>
    </span>
  </p>
</div>
