/* geral */
textarea {
  resize: none;
  cursor: pointer;

  outline: none;

  padding: 0.5rem;

  text-align: justify;
  font-size: 16px;
  font-weight: 900;

  border: 1px dashed black;
  border-radius: 5px;
}

textarea:focus {
  border: 2px dashed black;
}

textarea.texto-fixo {
  background-color: inherit;
}

textarea.texto-fixo:hover {
  background-color: #ccc;
}

textarea.texto-fixo:focus {
  background-color: #ccc;
}

textarea.entrada-texto {
  color: #444;
  background-color: rgb(180, 180, 0);
}

textarea.entrada-texto:hover {
  background-color: rgb(150, 150, 0);
}

textarea.entrada-texto:focus {
  background-color: rgb(150, 150, 0);
}

.display-grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* Modo de Preenchimento */
.preenchimento {
  padding: 0.25rem;

  font-size: 16px;
  font-weight: 500;
}

.preenchimento textarea {
  margin: 0;
}

/* Modo de Edição */
.edicao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.subitens {
  display: grid;
  grid-template-columns: 97fr 3fr;
}

.subitens:hover {
  background-color: #ddd;
}

.edicao textarea {
  margin: 0.25rem 0.5rem 0.25rem 0;
}

button.clear {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}

/* Modo de Pré-visualizacao */
.pre-visualizacao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.paragrafos {
  margin: 0.5rem 0.5rem 0 0;
}

/* menu (Modo de Edição e Pré-visualização) */
.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

