.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.spacer {
  flex: 1 1 auto;
}

section {
  border-left: 10px solid #eee;
  border-bottom: 4px dashed #eee;
  box-shadow: 2px 0 2px #eee;

  margin: 1rem 0;
  padding: 0.5rem 10rem 1.5rem 3rem;
}

section h1 {
  font-size: 28px;
  font-weight: 500;

  color: #222;

  counter-reset: item-h2;
}

section h2 {
  font-size: 25px;
  font-weight: 500;

  margin-bottom: 0;

  color: #222;

  counter-increment: item-h2;
}

section h2:before {
  content: counter(item-h2) ".";
  display: inline-block;
  width: 10mm;
  font-weight: 500;
}

section h1::before {
  content: "# ";
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: 500;

  text-align: justify;

  color: #555;
}

p.indentado {
  text-indent: 2rem;
}

img {
  display: block;
  margin: 0.5rem auto 1.5rem;
  padding: 0.5rem;

  box-shadow: 0 0 2px #222;
  border-radius: 5px;
}

ul {
  list-style-type: none;

  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

a {
  color: #555;
  text-decoration: none;

  border-bottom: 2px dotted #555;
}

a:hover {
  color: #222;
  border-bottom: 2px dashed #222;
}

.destaque {
  color: #222;
}

.bold {
  font-weight: 600;
}

.icone {
  border: 1px dashed #222;
  border-radius: 25%;

  padding: 0.25rem;
  margin-right: 0.5rem;

  vertical-align: middle;

  text-indent: 0;
}

.cor-textarea {
  color: rgb(150, 150, 0);
}

.cor-verde {
  color: #00903d;
}

.cor-azul {
  color: darkblue;
}

.cor-laranja {
  color: darkorange;
}

.observacao {
  display: block;
  margin: 0 2rem 1rem;
  padding: 0.5rem;

  border: 2px dashed darkred;
  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  text-align: justify;

  background-color: lightpink;
  color: darkred;
}