<div class="content">
  <mat-toolbar>
    <div>
      <h1>Sistema de Licitação - Documentação subsistema Documentos</h1>
    </div>
    <span class="spacer"></span>
    <button mat-stroked-button class="botao-toolbar" routerLink="/">
      Voltar
    </button>
  </mat-toolbar>

  <section>
    <h1>Página de Documentos</h1>

    <p class="indentado">
      Na <span class="destaque bold">Página de Documentos</span> é possível
      acessar todos os Documentos criados por um usuário, além de criar novos
      Documentos.
    </p>

    <p class="indentado">
      Os <span class="destaque bold">Documentos</span> criados por um usuário
      ficam divididos em três categorias:
      <span class="destaque bold">Documentos em Edição</span>,
      <span class="destaque bold">Documentos em Análise</span> e
      <span class="destaque bold">Documentos Aprovados</span>, e podem ser
      acessados através de abas de mesmo nome.
    </p>
    <img src="assets/abas-documentos.png" />

    <P
      >Em cada uma dessas categorias é apresentado, para cada
      <span class="destaque bold">Documento</span>, sua
      <span class="destaque" title="Nome que identifica o documento"
        >Identificação</span
      >, seu
      <span class="destaque" title="Identificação única dodocumento"
        >Código</span
      >, seu
      <span
        class="destaque"
        title="Status que o documento se encontra: Em Edição, Em Análise ou Aprovado"
        >Status</span
      >, sua
      <span class="destaque" title="Data que o documento foi criado"
        >Criação</span
      >, e sua
      <span
        class="destaque"
        title="Data e hora que o documento foi criado ou salvado por último"
        >Última Edição</span
      >. Além disso, cada <span class="destaque bold">Documento</span> possui um
      conjunto de <span class="destaque bold">Ações</span> de acordo com sua
      categoria.</P
    >

    <p class="indentado">
      Para <span class="destaque bold">Documentos</span> na categoria
      <span class="destaque">Documentos em Edição</span> estão disponíveis as
      <span class="destaque bold">Ações</span>:
    </p>
    <ul>
      <li>
        <p>
          <mat-icon class="icone">edit</mat-icon
          ><span class="destaque bold">Editar Documento</span> - redireciona o
          usuário para a Página de Preenchimento de Documento, permitindo que o
          usuário preencha o <span class="destaque bold">Documento</span>.
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="icone">plagiarism</mat-icon
          ><span class="destaque bold">Visualizar Documento</span> - redireciona
          o usuário para a Página de Visualização de Documentos, permitindo a
          visualização do <span class="destaque bold">Documento</span>.
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="icone">task</mat-icon
          ><span class="destaque bold">Enviar Documento para análise</span> -
          envia o <span class="destaque bold">Documento</span> para análise,
          onde ele será avaliado quanto sua corretude e completude.
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="icone">delete</mat-icon
          ><span class="destaque bold">Excluir Documento</span> - exclui o
          <span class="destaque bold">Documento</span>. Como esta operação não
          pode ser desfeita, um pop-up pede que a ação de exclusão seja
          confirmada.
        </p>
      </li>
    </ul>

    <p>
      Para <span class="destaque bold">Documentos</span> na categoria
      <span class="destaque">Documentos em Análise</span> estão disponíveis as
      <span class="destaque bold">Ações</span>:
    </p>
    <ul>
      <li>
        <p>
          <mat-icon class="icone">plagiarism</mat-icon
          ><span class="destaque bold">Visualizar Documento</span> - redireciona
          o usuário para a Página de Visualização de Documentos, permitindo a
          visualização do <span class="destaque bold">Documento</span>.
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="icone">restore_page</mat-icon
          ><span class="destaque bold">Reabilitar edição do Documento</span> -
          envia o <span class="destaque bold">Documento</span> para edição,
          permitindo que sejam feitas novas alterações nele.
        </p>
      </li>
    </ul>

    <p>
      E para <span class="destaque bold">Documentos</span> na categoria
      <span class="destaque">Documentos Aprovados</span> estão disponíveis as
      <span class="destaque bold">Ações</span>:
    </p>
    <ul>
      <li>
        <p>
          <mat-icon class="icone">plagiarism</mat-icon
          ><span class="destaque bold">Visualizar Documento</span> - redireciona
          o usuário para a Página de Visualização de Documentos, permitindo a
          visualização do <span class="destaque bold">Documento</span>.
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="icone">file_download</mat-icon
          ><span class="destaque bold">Exportar Documento</span> - faz o
          download de um arquivo de texto (.txt) com o conteúdo do
          <span class="destaque bold">Documento</span> já pronto para ser
          inserido no SEI.
        </p>
      </li>
    </ul>

    <p class="indentado">
      A <span class="destaque">Identificação</span> de um
      <span class="destaque bold">Documento</span> também é um link para a sua
      Página de Visualização. Dessa forma, é possível acessar a página de
      visualização de um <span class="destaque bold">Documento</span> ao clicar
      na sua <span class="destaque">Identificação</span>.
    </p>
  </section>

  <section>
    <h1>Criando Documentos</h1>

    <p class="indentado">
      Para criar um <span class="destaque bold">Novo Documento</span> clique no
      botão <span class="destaque bold">Criar Novo Documento</span>.
    </p>
    <img src="assets/btn-criar-documento.png" />

    <p>
      Após clicar no botão <span class="destaque">Criar Novo Documento</span>,
      irá aparecer um pop-up pedindo que seja selecionado um
      <span class="destaque bold">Documento Base</span> que, como o próprio nome
      diz, irá servir de base para o
      <span class="destaque bold">Documento</span> que será criado.
    </p>
    <img src="assets/popup-criar-documento-1.png" />

    <p>
      Com um <span class="destaque bold">Documento Base</span> selecionado,
      clique no botão <span class="destaque">Criar</span> para criar o
      <span class="destaque bold">Documento</span>. Depois disso, você será
      redirecionado para uma nova página onde será possível preencher o
      <span class="destaque bold">Documento</span> criado. A operação de criar
      um novo <span class="destaque bold">Documento</span> pode ser cancelada a
      qualquer momento usando o botão <span class="destaque">Cancelar</span>.
    </p>
    <img src="assets/popup-criar-documento-2.png" />
  </section>

  <section>
    <h1>Preenchendo Documentos</h1>
    <p class="indentado">
      Um <span class="destaque bold">Documento</span> é composto de diversas
      <span class="destaque">Seções</span> e cada
      <span class="destaque">Seção</span> é formado por vários
      <span class="destaque">Itens</span>. Na
      <span class="destaque bold">Página de Preenchimento de Documento</span> é
      possível navegar por todas essas seções usando as abas que ficam próximas
      ao topo da página e que têm os nomes dessas seções,
    </p>
    <img src="assets/abas-secoes.png" />
    <p>
      ou usando os botões <span class="destaque">Seção Anterior</span> e
      <span class="destaque">Próxima Seção</span> que ficam próximos ao fim da
      página.
    </p>
    <img src="assets/btns-mudar-secao.png" />

    <p class="indentado">
      Existem quatro tipos de <span class="destaque">Itens</span>:
      <span class="destaque">Texto</span>, <span class="destaque">Opções</span>,
      <span class="destaque">Lista</span> e <span class="destaque">Nota</span>.
      O <span class="destaque">Item Nota</span> é usado para guardar trechos de
      <span class="destaque">texto fixo</span>, que é o mesmo para todas as
      licitações; e é usado para a inserção de
      <span class="destaque">texto variável</span>, que muda de licitação para
      licitação. Para preencher o texto variável, basta clicar na caixa de
      texto, que tem uma <span class="cor-textarea">cor destacada</span>, e
      digitar o texto desejado.
    </p>
    <img src="assets/item-texto.png" />

    <p class="indentado">
      O <span class="destaque">Item Opções</span> é usado para preencher trechos
      de documentos de licitação em que alguma opção deve ser escolhida. Por
      exemplo, se o produto a ser contratado é um
      <span class="destaque">serviço</span> ou um
      <span class="destaque">bem/material</span>. Quem estiver preenchendo o
      <span class="destaque bold">Documento</span> deve escolher a opção
      apropriada e marcá-la. A escolha de uma opção em particular pode, em
      alguns casos, exigir que um texto adicional seja inserido, por exemplo uma
      justificativa da escolha daquela opção. Nesses casos, uma caixa de texto
      de <span class="cor-textarea">cor destacada</span>, como aquela usada no
      <span class="destaque">Item Texto</span>, sevirá para que esse conteúdo
      adicional seja inserido.
    </p>
    <img src="assets/item-opcoes.png" />

    <p class="indentado">
      O <span class="destaque">Item Lista</span> tem basicamente a mesma função
      do <span class="destaque">Item Texto</span>, com a diferença que este item
      dispõe seus <span class="destaque">textos fixos</span> e
      <span class="destaque">entradas de texto</span> na forma de uma lista,
      enumerados com letras romanas maiúsculas ou letras latinas minúsculas.
    </p>
    <img src="assets/item-lista.png" />

    <p class="indentado">
      Por último, o <span class="destaque">Item Nota</span> tem o papel de
      orientar no preenchimento do <span class="destaque bold">Documento</span>.
      Dessa maneira, o <span class="destaque">Item Nota</span> aparece na
      <span class="destaque bold">Página de Visualização de Documento</span> ou
      no arquivo de texto (.txt) exportado para o SEI. As orientaçãoes contidas
      neste item podem ter um caráter geral ou podem especificar de forma
      detalhada como os outros itens devem ser preenchidos.
    </p>
    <img src="assets/item-nota.png" />

    <p class="indentado">
      A avaliação do <span class="destaque bold">Documento</span> é feita com o
      auxílio do <span class="destaque bold">Componente de Correções</span> que,
      basicamente, é um chat onde um
      <span class="destaque bold">Analista</span> pode deixar correções e
      ajustes que achar apropriado. Inicialmente, quando a
      <span class="destaque bold">Página de Preenchimento de Documento</span> é
      aberta, o <span class="destaque">Componente de Correções</span> estará
      fechado. Para abri-lo, basta clicar no botão
      <mat-icon class="icone">visibility</mat-icon>.
    </p>
    <img src="assets/correcoes-fechado.png" />

    <p>
      Com o <span class="destaque">Componente de Correções</span> aberto é
      possível ver todas as recomendações deixadas pelo
      <span class="destaque bold">Analista</span>. Ao lado direito de cada
      recomendação, existe uma <span class="destaque">caixa de seleção</span> da
      <span class="cor-verde">cor verde</span> onde é possível marcar essa
      recomendação como <span class="destaque">corrigida</span>; ou desmarcá-la,
      indicando que a correção ainda está sendo feita. Recomendações que forem
      devidamente corrigidas serão aceitas pelo
      <span class="destaque bold">Analista</span> e, ao lado direito de cada uma
      delas, ficará uma <span class="destaque">caixa de seleção</span> marcada
      da <span class="cor-azul">cor azul</span>. O
      <span class="destaque">Componente de Correções</span> pode ser fechado
      clicando no botão <mat-icon class="icone">visibility_off</mat-icon>.
    </p>
    <img src="assets/correcoes-aberto.png" />

    <p class="indentado">
      As edições feitas em um <span class="destaque bold">Documento</span> podem
      ser salvadas a qualquer momento usando botão
      <span class="destaque bold">Salvar</span>, que fica no topo da página.
      Toda alteração não salvada será perdida e, portanto, é recomendável que o
      <span class="destaque bold">Documento</span> seja salvado regularmente
      durante seu preenchimento, evitando que qualquer trabalho seja perdido.
    </p>
  </section>

  <section>
    <h1>Visualizando Documentos</h1>

    <p class="indentado">
      Na
      <span class="destaque bold">Página de Visualização de Documento</span> é
      possível ver uma prévia da versão final do
      <span class="destaque bold">Documento</span>, já no formato usado pelo
      SEI. Para facilitar a identificação do que foi adicionado ao
      <span class="destaque bold">Documento</span>, todo conteúdo preenchido
      pelo usuário aparecerá em negrito e com uma
      <span class="cor-laranja bold">cor destacada</span>.
    </p>
    <img src="assets/visualizacao-documento.png" />

    <P class="indentado">
      Ao final de todo o processo de preenchimento e análise do
      <span class="destaque bold">Documento</span>, será possível exportar um
      arquivo de texto (.txt) que, quando colado no SEI conforme explicado a
      seguir, terá o mesmo conteúdo e formatação visto na
      <span class="destaque bold">Página de Visualização de Documento</span>
      exceto, claro, pelos trechos destacados, que aparecerão com a mesma
      formatação do restante do <span class="destaque bold">Documento</span>.
    </P>
  </section>

  <section>
    <h1>Exportando Documentos para o SEI</h1>

    <p class="indentado">
      Com o <span class="destaque bold">Documento</span> devidamente preenchido
      e analisado, ele poderá ser encontrado na
      <span class="destaque bold">Página de Documentos</span>, mais
      especificamente na aba <span class="destaque">Documentos Aprovados</span>,
      e lá é possível, como dito anteriormente, exportá-lo clicando no botão
      <mat-icon class="icone">file_download</mat-icon>. Segue agora um passo a
      passo de como copiar o conteúdo do arquivo de texto (.txt) baixado para o
      SEI.
    </p>

    <span class="observacao">
      Observação: o procedimento que será detalhado a seguir foi feito usando o
      Navegador Google Chrome. Para evitar qualquer incompatibilidade com outro
      navegador, é recomendado que seja usado o Google Chrome para copiar o
      conteúdo do arquivo exportado para o SEI.
    </span>

    <h2>Instalando a Extensão Chrome</h2>

    <p class="indentado">
      O editor de texto do SEI possui diversas funcionalidades que auxiliam na
      criação e edição de documentos. Na figura abaixo, dentro da
      <span class="cor-azul">caixa azul</span>, estão, por exemplo, as
      funcionalidades de colar diretamente textos copiados de um arquivo Word e
      colar textos sem formatação. Ocorre que o arquivo exportado do
      <span class="destaque bold">Sistema de Licitação</span> não pode ser
      copiado diretamente no SEI com as funcionalidades que seu editor possui.
      Para atender essa tarefa, foi construído uma
      <span class="destaque bold">Extensão</span> para o
      <span class="destaque bold">Google Chrome</span>. Acesse este
      <a
        target="_blanc"
        href="https://chrome.google.com/webstore/detail/editor-html-para-o-sei/pomikgaodkifgippchdnajgkpnlpbkca?hl=pt-BR"
        >link</a
      >
      e instale a <span class="destaque">extensão</span>.
    </p>
    <img src="assets/funcionalidades-sei.png" />

    <p class="indentado">
      Após a instalação da <span class="destaque">extensão</span>, ela pode ser
      usada clicando no seu ícone, que fica próximo ao canto superior direito da
      tela do navegador (botão dentro da
      <span class="cor-azul">caixa azul</span> em alguma das duas figuras
      abaixo).
    </p>
    <img src="assets/icone-extensao-sei-1.png" />
    <img src="assets/icone-extensao-sei-2.png" />

    <p>
      É possível que a extensão não esteja fixada e então ela não aparecerá no
      local indicado. Para fixá-la, clique no botão dentro da
      <span class="cor-verde">caixa verde</span> da figura acima e depois clique
      no botão dentro da <span class="cor-laranja">caixa laranja</span> da
      figura abaixo para fixar a extensão. Agora será possível vê-la no canto
      superior direito da tela do navegador.
    </p>
    <img src="assets/fixar-extensao.png" />

    <h2>Abrindo um Novo Documento no SEI</h2>

    <p class="indentado">
      Por padrão, o SEI abre uma nova janela quando clicamos para editar um
      arquivo. O problema é que na janela aberta não é possível usar as
      extensões do navegador. Para contornar esse problema, basta copiar a URL
      da janela aberta pelo SEI (texto dentro da
      <span class="cor-verde">caixa verde</span> da figura abaixo). Após isso, a
      janela aberta pode ser fechada. Abra uma nova aba no navegador e cole URL
      copiada. Pronto, agora é possível editar o documento SEI e também usar a
      <span class="destaque">extensão</span> que foi instalada no passo
      anterior.
    </p>
    <img src="assets/url-sei.png" />

    <h2>Colando o Arquivo Exportado no SEI</h2>

    <p class="indentado">
      Com a <span class="destaque">extensão</span> instalada corretamente, com o
      documento SEI aberto numa aba comum do navegador e com o arquivo de texto
      (.txt) exportado do
      <span class="destaque bold">Sistema de Licitação</span> em mãos, basta
      somente mais um passo para copiar o conteúdo preenchido e avaliado no
      <span class="destaque bold">Sistema de Licitação</span> no SEI. Abra o
      arquivo de texto (.txt) exportado e copie todo o seu conteúdo. Na
      sequência, vá até a aba do navegador onde está o documento SEI e clique
      para usar a <span class="destaque">extensão</span>. Cole o conteúdo do
      arquivo exportado na caixa de texto da
      <span class="destaque">extensão</span> e então clique no botão OK da
      <span class="destaque">extensão</span>. Concluído! Agora o conteúdo
      exportado do <span class="destaque bold">Sistema de Licitação</span> está
      inserido no SEI.
    </p>

    <p class="indentado">
      A partir daqui, todo o processo de editar texto, inserir imagens,
      adicionar links etc, é o mesmo. O arquivo exportado do
      <span class="destaque bold">Sistema de Licitação</span> não é completo e,
      consequentemente, alguns ajustes talvez precisem ser feitos. No momento,
      os principais ajustes são a inserção de
      <span class="destaque bold">Tabelas</span> e
      <span class="destaque bold">Figuras</span>.
    </p>
  </section>
</div>
