<mat-toolbar class="mainapp-topo">
  <img src="assets/intranet-logo-2.png" />
  <div>
    <div class="texto-sistemas">LICITAÇÕES</div>
    <div class="texto-brasilcentral">BRASIL CENTRAL</div>
  </div>
</mat-toolbar>
<mat-drawer-container class="mainapp-conteudo">
  <mat-drawer-content class="mainapp-router">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<mat-toolbar class="mainapp-rodape">Desenvolvido por DTIC - Divisão de Tecnologia da Informação e Comunicação</mat-toolbar>
