<!-- MODO DE PREENCHIMENTO - forma como o documento é visto por quem o preenche -->
<div *ngIf="modoExibicao === 'preenchimento'">
  <h1 class="pre-visualizacao-descricao">
    {{ descricao }}
  </h1>
  <div *ngFor="let subitem of subitens; index as i">
    <!-- se subitem.tipo === 'subdescricao' -->
    <div *ngIf="subitem.tipo === 'subdescricao'">
      <h2 class="pre-visualizacao-subdescricao">
        {{ subitem.subdescricao }}
      </h2>
    </div>

    <!-- se subitem.tipo === 'opcao' -->
    <div *ngIf="subitem.tipo === 'opcao'">
      <input
        type="radio"
        [name]="itemID"
        [value]="i"
        (click)="atualizarOpcao(i)"
        [checked]="i === opcao"
      />
      <p class="pre-visualizacao-opcao">{{ subitem.opcao }}</p>
    </div>

    <!-- se subitem.tipo === 'opcao-entrada-texto' -->
    <div *ngIf="subitem.tipo === 'opcao-entrada-texto'">
      <input
        type="radio"
        [name]="itemID"
        [value]="i"
        (click)="atualizarOpcao(i)"
        [checked]="i === opcao"
      />
      <p class="pre-visualizacao-opcao">{{ subitem.opcao }}</p>
      <span class="entrada-texto">
        <textarea
          class="entrada-texto"
          [placeholder]="subitem.placeholderEntradaTexto"
          [(ngModel)]="entradasTexto[i]"
          appTextareaAutoresize
        ></textarea>
      </span>
    </div>
  </div>
</div>

<!-- MODO DE EDIÇÃO - forma como o documento é visto por quem o cria enquanto ele está editando -->
<div *ngIf="modoExibicao === 'edicao'" class="grid-5-1-94">
  <aside class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botaoMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="adicionarSubdescricao()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Subdescrição</span>
      </button>

      <button mat-menu-item (click)="adicionarOpcao()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Opção</span>
      </button>

      <button mat-menu-item (click)="adicionarOpcaoComEntradaTexto()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Opção + Entrada Texto</span>
      </button>

      <button mat-menu-item (click)="habilitarPreVisualizacao()">
        <mat-icon>visibility</mat-icon>
        <span>Ativar Pré-visualização</span>
      </button>
    </mat-menu>
  </aside>
  <span></span>
  <div>
    <div class="descricao">
      <textarea
        class="texto-fixo"
        placeholder="Insira aqui a descrição"
        [(ngModel)]="descricao"
        appTextareaAutoresize
        >{{ descricao }}</textarea
      >
    </div>

    <div *ngIf="subitens.length === 0">
      Adicione Opções ou Subdescrições usando o menu ao lado
    </div>

    <div class="subitens" *ngFor="let subitem of subitens; index as i">
      <!-- se subitem.tipo === 'subdescricao' -->
      <div *ngIf="subitem.tipo === 'subdescricao'" class="subdescricao">
        <span></span>
        <textarea
          class="texto-fixo"
          placeholder="Insira aqui a subdescrição"
          [(ngModel)]="subitens[i].subdescricao"
          appTextareaAutoresize
          >{{ subitem.subdescricao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <!-- se subitem.tipo === 'opcao' -->
      <div *ngIf="subitem.tipo === 'opcao'" class="opcao">
        <span></span>
        <input type="radio" [name]="itemID" />
        <textarea
          class="texto-fixo"
          placeholder="Insira aqui o texto desta opção"
          [(ngModel)]="subitens[i].opcao"
          appTextareaAutoresize
          >{{ subitem.opcao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <!-- se subitem.tipo === 'opcao-entrada-texto' -->
      <div
        *ngIf="subitem.tipo === 'opcao-entrada-texto'"
        class="opcao-entrada-texto"
      >
        <span></span>
        <input type="radio" [name]="itemID" />
        <textarea
          class="texto-fixo"
          placeholder="Insira aqui o texto desta opção"
          [(ngModel)]="subitens[i].opcao"
          appTextareaAutoresize
          >{{ subitem.opcao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
        <span></span>
        <span></span>
        <textarea
          class="entrada-texto"
          placeholder="Insira aqui uma mensagem explicativa"
          [(ngModel)]="subitens[i].placeholderEntradaTexto"
          appTextareaAutoresize
          >{{ subitem.placeholderEntradaTexto }}</textarea
        >
      </div>
    </div>
  </div>
</div>

<!-- MODO DE PRÉ-VISUALIZAÇÃO - forma como o documento é visto por quem o cria enquanto ele está pre-visualizando -->
<div *ngIf="modoExibicao === 'pre-visualizacao'" class="grid-5-1-94">
  <aside class="menu">
    <button
      mat-icon-button
      (click)="habilitarEdicao()"
      title="Desativar Pré-visualização"
    >
      <mat-icon>visibility_off</mat-icon>
    </button>
  </aside>
  <span></span>
  <div class="pre-visualizacao">
    <h1 class="pre-visualizacao-descricao">
      {{ descricao }}
    </h1>
    <div *ngFor="let subitem of subitens; index as i">
      <!-- se subitem.tipo === 'subdescricao' -->
      <div *ngIf="subitem.tipo === 'subdescricao'">
        <h2 class="pre-visualizacao-subdescricao">
          {{ subitem.subdescricao }}
        </h2>
      </div>

      <!-- se subitem.tipo === 'opcao' -->
      <div *ngIf="subitem.tipo === 'opcao'">
        <input
          type="radio"
          [name]="itemID"
          [value]="i"
          (click)="atualizarOpcao(i)"
          [checked]="i === opcao"
        />
        <p class="pre-visualizacao-opcao">{{ subitem.opcao }}</p>
      </div>

      <!-- se subitem.tipo === 'opcao-entrada-texto' -->
      <div *ngIf="subitem.tipo === 'opcao-entrada-texto'">
        <input
          type="radio"
          [name]="itemID"
          [value]="i"
          (click)="atualizarOpcao(i)"
          [checked]="i === opcao"
        />
        <p class="pre-visualizacao-opcao">{{ subitem.opcao }}</p>
        <span class="entrada-texto">
          <textarea
            class="entrada-texto"
            [placeholder]="subitem.placeholderEntradaTexto"
            [(ngModel)]="entradasTexto[i]"
            appTextareaAutoresize
          ></textarea>
        </span>
      </div>
    </div>
  </div>
</div>