/* geral */
textarea {
  resize: none;
  cursor: pointer;

  outline: none;

  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;

  text-align: justify;
  font-size: 15px;
  font-weight: 900;

  border: 1px dashed black;
  border-radius: 5px;
}

textarea:focus {
  border: 2px dashed black;
}

textarea.texto-fixo {
  background-color: inherit;
}

textarea.texto-fixo:hover {
  background-color: #ccc;
}

textarea.texto-fixo:focus {
  background-color: #ccc;
}

textarea.entrada-texto {
  color: #444;
  background-color: rgb(180, 180, 0);
}

textarea.entrada-texto:hover {
  background-color: rgb(150, 150, 0);
}

textarea.entrada-texto:focus {
  background-color: rgb(150, 150, 0);
}

.opcao textarea,
.opcao-entrada-texto textarea {
  margin-left: 0.5rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-top: 0.75rem;

  margin: 0.35rem 0 0.45rem 2rem;

  vertical-align: middle;
}

.modo-edicao input[type="radio"] {
  margin-top: 0.75rem;
}

input[type="radio"]:checked {
  border: 7px solid black;
}

span.entrada-texto {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 3.5rem;
}

/* Modo de Preenchimento */
.preenchimento {
  padding: 0.25rem;

  font-size: 16px;
  font-weight: 500;
}

/* Modo de Edição */
.edicao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.subitens:hover,
.descricao:hover {
  background-color: #ddd;
}

.descricao {
  display: grid;
  grid-template-columns: 97fr 3fr;
}

.subdescricao {
  display: grid;
  grid-template-columns: 1fr 96fr 3fr;
}

.opcao,
.opcao-entrada-texto {
  display: grid;
  grid-template-columns: 1fr 1fr 95fr 3fr;
}

button.clear {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}

/* Modo de Pré-visualizacao */
.pre-visualizacao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 500;
}

.subitens-pre-visualizacao {
  padding: 0.15rem;
  margin: 0.25rem 0.5rem 0 0;
}

/* menu (Modo de Edição e Pré-visualização) */
.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

.botaoMenu {
  margin-top: 0.25rem;
}

/* (Modo de Preenchimento e Pré-visualização) */
.pre-visualizacao-descricao {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.pre-visualizacao-subdescricao {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 0 1.5rem;
}

.pre-visualizacao-opcao {
  display: inline;
  margin-left: 0.35rem;
}

.texto-final {
  padding: 0.25rem;
  margin: 0 1rem 0 4rem;

  text-align: justify;

  border: 1px solid #ccc;
  border-radius: 5px;
}