<div [class]="nivelIndentacaoClass">
  <aside class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botaoMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button
        mat-menu-item
        [disabled]="nivelIndentacao === 2"
        (click)="mudarNivelIndentacao(nivelIndentacao + 1)"
      >
        <mat-icon>format_indent_increase</mat-icon>
        <span>Aumentar Indentação</span>
      </button>
      <button
        mat-menu-item
        [disabled]="nivelIndentacao === 0"
        (click)="mudarNivelIndentacao(nivelIndentacao - 1)"
      >
        <mat-icon>format_indent_decrease</mat-icon>
        <span>Diminuir Indentação</span>
      </button>

      <button
        mat-menu-item
        [disabled]="modoPrevisualizacao"
        (click)="adicionarSubdescricao()"
      >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Subdescrição</span>
      </button>

      <button
        mat-menu-item
        [disabled]="modoPrevisualizacao"
        (click)="adicionarOpcao()"
      >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Opção</span>
      </button>

      <button
        mat-menu-item
        [disabled]="modoPrevisualizacao"
        (click)="adicionarOpcaoComEntradaTexto()"
      >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Adicionar Opção + Entrada Texto</span>
      </button>

      <button
        mat-menu-item
        (click)="tooglePrevisualizacao()"
        [disabled]="subitens.length === 0"
      >
        <!-- Modo de Pré-visualização desativado -->
        <mat-icon *ngIf="!modoPrevisualizacao">visibility</mat-icon>
        <span *ngIf="!modoPrevisualizacao">Ativar Pré-visualização</span>

        <!-- Modo de Pré-visualização ativado -->
        <mat-icon *ngIf="modoPrevisualizacao">visibility_off</mat-icon>
        <span *ngIf="modoPrevisualizacao">Desativar Pré-visualização</span>
      </button>
    </mat-menu>
  </aside>
  <span></span>
  <div *ngIf="!modoPrevisualizacao">
    <div class="descricao">
      <textarea
        class="texto-fixo"
        rows="1"
        placeholder="Insira aqui a descrição"
        [(ngModel)]="descricao"
        >{{ descricao }}</textarea
      >
    </div>

    <div *ngIf="subitens.length === 0">
      Adicione Opções ou Subdescrições usando o menu ao lado
    </div>

    <div class="subitens" *ngFor="let subitem of subitens; index as i">
      <!-- se subitem.tipo === 'subdescricao' -->
      <div *ngIf="subitem.tipo === 'subdescricao'" class="subdescricao">
        <span></span>
        <textarea
          class="texto-fixo"
          rows="1"
          placeholder="Insira aqui a subdescrição"
          [(ngModel)]="subitens[i].subdescricao"
          >{{ subitem.subdescricao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <!-- se subitem.tipo === 'opcao' -->
      <div *ngIf="subitem.tipo === 'opcao'" class="opcao">
        <span></span>
        <input type="radio" [name]="itemID" />
        <textarea
          class="texto-fixo"
          rows="1"
          placeholder="Insira aqui o texto desta opção"
          [(ngModel)]="subitens[i].opcao"
          >{{ subitem.opcao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <!-- se subitem.tipo === 'opcao-entrada-texto' -->
      <div
        *ngIf="subitem.tipo === 'opcao-entrada-texto'"
        class="opcao-entrada-texto"
      >
        <span></span>
        <input type="radio" [name]="itemID" id="" />
        <textarea
          class="texto-fixo"
          rows="1"
          placeholder="Insira aqui o texto desta opção"
          [(ngModel)]="subitens[i].opcao"
          >{{ subitem.opcao }}</textarea
        >
        <button mat-icon-button (click)="removerSubitem(i)">
          <mat-icon>clear</mat-icon>
        </button>
        <span></span>
        <span></span>
        <textarea
          class="entrada-texto"
          rows="1"
          placeholder="Insira aqui uma mensagem explicativa"
          [(ngModel)]="subitens[i].placeholderEntradaTexto"
          >{{ subitem.placeholderEntradaTexto }}</textarea
        >
      </div>
    </div>
  </div>
  <div class="pre-visualizacao" *ngIf="modoPrevisualizacao">
    <span *ngFor="let subitem of subitens">
      <!-- se subitem.tipo === 'texto-fixo' -->
      <span class="texto-fixo" *ngIf="subitem.tipo === 'texto-fixo'"
        >{{ subitem }}
      </span>

      <!-- se subitem.tipo === 'entrada-texto' -->
      <span class="entrada-texto" *ngIf="subitem.tipo === 'entrada-texto'"
        >{{ subitem }}
      </span>
    </span>
  </div>
</div>
