.container-0 {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;
}

.container-1 {
  display: grid;
  grid-template-columns: 5fr 6fr 89fr;
}

.container-2 {
  display: grid;
  grid-template-columns: 5fr 11fr 84fr;
}

.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

.subitens:hover,
.descricao:hover {
  background-color: #ddd;
}

.descricao {
  display: grid;
  grid-template-columns: 97fr 3fr;
}

.subdescricao {
  display: grid;
  grid-template-columns: 1fr 96fr 3fr;
}

.opcao,
.opcao-entrada-texto {
  display: grid;
  grid-template-columns: 1fr 1fr 95fr 3fr;
}

textarea {
  resize: vertical;
  cursor: pointer;

  outline: none;

  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;

  text-align: justify;
  font-size: 15px;
  font-weight: 900;

  border: 1px dashed black;
  border-radius: 5px;
}

textarea:focus {
  border: 2px dashed black;
}

textarea.texto-fixo {
  background-color: inherit;
}

textarea.texto-fixo:hover {
  background-color: #ccc;
}

textarea.texto-fixo:focus {
  background-color: #ccc;
}

textarea.entrada-texto {
  color: #444;
  background-color: rgb(180, 180, 0);
}

textarea.entrada-texto:hover {
  background-color: rgb(150, 150, 0);
}

textarea.entrada-texto:focus {
  background-color: rgb(150, 150, 0);
}

button {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}

.opcao textarea,
.opcao-entrada-texto textarea {
  margin-left: 0.5rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-top: 0.75rem;
}

input[type="radio"]:checked {
  border: 7px solid black;
}

.pre-visualizacao {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0 0;
}

.pre-visualizacao-descricao {
  font-size: 18px;
  margin: 0;
}

.pre-visualizacao-subdescricao {
  font-size: 15px;
  margin: 0 0 0 1.5rem;
}

.pre-visualizacao input[type="radio"] {
  margin: 0.35rem 0 0.45rem 2rem;

  vertical-align: middle;
}

.pre-visualizacao-opcao {
  display: inline;
  margin-left: 0.35rem;
}

.pre-visualizacao span.entrada-texto {
  padding: 0.1rem 0.35rem;

  border-radius: 3px;
  border: 1px dashed black;

  color: #444;
  background-color: rgb(180, 180, 0);
}