.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.vertical-spacer {
  height: 1rem;
}

.botao-toolbar {
  margin-left: 0.5rem;
}

h1 {
  font-size: 28px;
}

.nome-documento {
  height: 35px;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

input {
  color: black;
  outline: none;
  border-width: 0;

  background-color: inherit;
}

input.nome-documento {
  width: 97%;
  text-align: center;
}

.tab-nome-secao {
  font-weight: bold;
}

.item {
  display: grid;
  grid-template-columns: 5fr 90fr 5fr;
}

.secao-toolbar-rodape {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
