.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.botao-toolbar {
  margin-left: 0.5rem;
}

.display-flex {
  display: flex;
  align-items: center;
}

.margin-left {
  margin-left: 0.75rem;
}

h1 {
  font-size: 28px;
}

h2 {
  margin: 1rem 0 0;
}

.identificacao {
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  width: 400px;
  height: 35px;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

input {
  cursor: pointer;

  outline: none;

  border: 1px dashed black;
  border-radius: 5px;

  background-color: inherit !important;
}

input:hover {
  background-color: #ddd !important;
}

input:focus {
  background-color: #ccc !important;
  border: 2px dashed black;
}

input.identificacao {
  width: 97%;
  text-align: center;
}

input.nome-secao {
  width: 90%;
  text-align: center;
}

input:placeholder-shown.identificacao {
  font-size: 20px;
  font-weight: normal;
}

.adicionar-secao-antes {
  margin: 1rem 0;
}

.adicionar-secao-apos,
.remover-secao {
  margin: 1rem 0 1rem 0.75rem;
}

.tab-nome-secao {
  font-weight: bold;
}

.nome-secao {
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

input:placeholder-shown.nome-secao {
  font-size: 20px;
  font-weight: normal;
}

.secao-toolbar-cabecalho {
  display: grid;
  grid-template-columns: 1fr;
}

.secao-toolbar-rodape {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.div-secao-toolbar {
  display: flex;
  justify-content: center;
}

.botoesAdicionarItens {
  float: left;
}

.botoesAdicionarItens button {
  margin-left: 0.5rem;
  width: 100px;
  height: 100px;
}

.pseudoitem {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;
}

.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

div.botoes-pseudoitem {
  display: flex;
}

.botoes-pseudoitem button {
  margin: 0.25rem 0 0 0.25rem;
  width: 75px;
  height: 75px;
}

.item {
  display: grid;
  grid-template-columns: 95fr 5fr;

  border-top: 1px dashed #ccc;
  padding-bottom: 0.5rem;
}

.item:hover {
  background-color: #eee;
}

.apagar {
  border-left: 1px solid #ccc;
  text-align: center;
}

.rodape-vazio {
  height: 10rem;
}