<mat-toolbar>
  <h1>Criação de Documento Base</h1>
</mat-toolbar>

<div class="content">
  <h2>Identificação</h2>
  <input
    class="identificacao"
    type="text"
    [(ngModel)]="nomeDocumentoBase"
    placeholder="Identificação do Documento Base"
  />

  <br>

  <button mat-stroked-button title="Adicionar seção" class="adicionar-secao">
    <mat-icon>add_circle</mat-icon>
    <div>Adicionar Seção</div>
  </button>

  <button mat-stroked-button title="Adicionar seção" class="remover-secao">
    <mat-icon>remove_circle</mat-icon>
    <div>Remover Seção</div>
  </button>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-nome-secao">{{ secoes[0] }}</span>
      </ng-template>

      <mat-toolbar class="secao-toolbar">
        <div class="div-secao-toolbar">
          <button mat-stroked-button disabled title="Ir para a seção anterior">
            <mat-icon>keyboard_double_arrow_left</mat-icon>
            Seção Anterior
          </button>
        </div>
        <div class="div-secao-toolbar">
          <input
            class="nome-secao"
            type="text"
            [(ngModel)]="secoes[0]"
            placeholder="Nome da Seção"
          />
        </div>
        <div class="div-secao-toolbar">
          <button mat-stroked-button title="Ir para a próxima seção">
            Próxima Seção
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
