.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

h1 {
  font-size: 28px;
}

h2 {
  margin: 1rem 0 0;
}

.identificacao {
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  width: 400px;
  height: 35px;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

input:placeholder-shown.identificacao {
  font-size: 20px;
  font-weight: normal;
}

.adicionar-secao {
  margin-top: 1rem;
}

.remover-secao {
  margin-top: 1rem;
  margin-left: 0.75rem; 
}

.tab-nome-secao {
  font-weight: bold;
}

.nome-secao {
  outline: none;
  background-color: #eee;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  font-size: 26px;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

input:placeholder-shown.nome-secao {
    font-size: 20px;
    font-weight: normal;
  }

.secao-toolbar {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.div-secao-toolbar {
    display: flex;
    justify-content: center;
}

.botoesAdicionarItens {
  float: left;
}

.botoesAdicionarItens button {
  margin-left: 0.5rem;
  width: 100px;
  height: 100px;
}