<mat-toolbar>
  <h1>Criação de Documento Base</h1>
</mat-toolbar>

<div class="content">
  <h2>Identificação</h2>
  <input
    class="identificacao"
    type="text"
    [(ngModel)]="nomeDocumentoBase"
    placeholder="Identificação do Documento Base"
  />

  <br />

  <button
    mat-stroked-button
    title="Adicionar seção"
    class="adicionar-secao"
    (click)="adicionarSecao()"
  >
    <mat-icon>add_circle</mat-icon>
    <div>Adicionar Seção</div>
  </button>

  <button
    mat-stroked-button
    title="Adicionar seção"
    class="remover-secao"
    (click)="removerSecao()"
    [disabled]="secoes.length === 1"
  >
    <mat-icon>remove_circle</mat-icon>
    <div>Remover Seção</div>
  </button>

  <mat-tab-group
    animationDuration="0ms"
    #tabgroup
    (selectedIndexChange)="onMudancaSecao($event)"
  >
    <mat-tab
      *ngFor="let secao of secoes; index as i; first as isFirst; last as isLast"
    >
      <ng-template mat-tab-label>
        <span class="tab-nome-secao">{{ secao.nome }}</span>
      </ng-template>
      <mat-toolbar class="secao-toolbar">
        <div class="div-secao-toolbar">
          <button
            mat-stroked-button
            title="Ir para a seção anterior"
            [disabled]="isFirst"
            (click)="tabgroup.selectedIndex = i - 1"
          >
            <mat-icon>keyboard_double_arrow_left</mat-icon>
            Seção Anterior
          </button>
        </div>
        <div class="div-secao-toolbar">
          <input
            class="nome-secao"
            type="text"
            (blur)="salvaNomeSecao(i, $event)"
            [value]="secoes[i].nome"
            placeholder="Nome da Seção"
          />
        </div>
        <div class="div-secao-toolbar">
          <button
            mat-stroked-button
            title="Ir para a próxima seção"
            [disabled]="isLast"
            (click)="tabgroup.selectedIndex = i + 1"
          >
            Próxima Seção
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <!-- <container-element [ngSwitch]="switch_expression">
        <some-element *ngSwitchCase="match_expression_1">...</some-element>
        <some-element *ngSwitchCase="match_expression_2">...</some-element>
        <some-other-element *ngSwitchCase="match_expression_3">...</some-other-element>
        <some-element *ngSwitchDefault>...</some-element>
      </container-element> -->

      <div *ngFor="let item of secoes[i].itens">
        <div class="item" [id]="item.id">
          <div>
            <!-- if item.tipo === nota -->
            <item-nota *ngIf="item.tipo === 'nota'" [itemID]="item.id"></item-nota>

            <!-- se item.tipo === texto -->
            <item-texto *ngIf="item.tipo === 'texto'" [itemID]="item.id"></item-texto>

            <!-- se item.tipo === opcoes -->
            <item-opcoes *ngIf="item.tipo === 'opcoes'" [itemID]="item.id"></item-opcoes>
          </div>
          <aside class="apagar">
            <button
              mat-icon-button
              (click)="deletaItem(item.id)"
              class="botaoApagar"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </aside>
        </div>
      </div>

      <hr />

      <div class="botoesAdicionarItens">
        <button mat-stroked-button (click)="adicionarItem('nota')">
          <mat-icon>add_circle</mat-icon>
          <div>Nota</div>
        </button>
        <button mat-stroked-button (click)="adicionarItem('texto')">
          <mat-icon>add_circle</mat-icon>
          <div>Texto</div>
        </button>
        <button mat-stroked-button (click)="adicionarItem('opcoes')">
          <mat-icon>add_circle</mat-icon>
          <div>Opções</div>
        </button>
        <button mat-stroked-button>
          <mat-icon>add_circle</mat-icon>
          <div>Tabela</div>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
