<div [class]="nivelIndentacaoClass">
  <aside class="menu" *ngIf="modoEdicao">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botaoMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button
        mat-menu-item
        [disabled]="nivelIndentacao === 2"
        (click)="mudarNivelIndentacao(nivelIndentacao + 1)"
      >
        <mat-icon>format_indent_increase</mat-icon>
        <span>Aumentar Indentação</span>
      </button>
      <button
        mat-menu-item
        [disabled]="nivelIndentacao === 0"
        (click)="mudarNivelIndentacao(nivelIndentacao - 1)"
      >
        <mat-icon>format_indent_decrease</mat-icon>
        <span>Diminuir Indentação</span>
      </button>
      <button
        mat-menu-item
        (click)="togglePrevisualizacao()"
        [disabled]="conteudo.length === 0"
      >
        <!-- Modo de Pré-visualização desativado -->
        <mat-icon *ngIf="!modoPrevisualizacao">visibility</mat-icon>
        <span *ngIf="!modoPrevisualizacao">Ativar Pré-visualização</span>

        <!-- Modo de Pré-visualização ativado -->
        <mat-icon *ngIf="modoPrevisualizacao">visibility_off</mat-icon>
        <span *ngIf="modoPrevisualizacao">Desativar Pré-visualização</span>
      </button>
    </mat-menu>
  </aside>
  <span></span>
  <textarea
    *ngIf="!modoPrevisualizacao"
    rows="1"
    title="Insira aqui o conteúdo da Nota"
    [(ngModel)]="conteudo"
    appTextareaAutoresize
    >{{ conteudo }}</textarea
  >

  <div *ngIf="modoPrevisualizacao" class="pre-visualizacao">
    <p *ngFor="let paragrafo of paragrafos">{{ paragrafo }}</p>
  </div>
</div>
