.container-0 {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;
}

.container-1 {
  display: grid;
  grid-template-columns: 5fr 6fr 89fr;
}

.container-2 {
  display: grid;
  grid-template-columns: 5fr 11fr 84fr;
}

.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

.botaoMenu {
  margin-top: 0.5rem;
}

textarea {
  resize: none;
  cursor: pointer;

  /* width: 95%; */
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  outline: none;
  border: 1px dashed rgb(9, 107, 107);
  border-radius: 10px;

  background-color: rgb(178, 209, 209);
  color: rgb(9, 107, 107);

  text-align: justify;
  font-size: 15px;
  font-weight: 900;
}

textarea:hover {
  background-color: rgb(153, 184, 184);
}

textarea:focus {
  background-color: rgb(153, 184, 184);
  border: 2px dashed rgb(9, 107, 107);
}

p.pre-visualizacao {  
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  border: 2px dashed rgb(9, 107, 107);
  border-radius: 10px;

  background-color: rgb(178, 209, 209);
  color: rgb(9, 107, 107);

  text-align: justify;
  font-size: 15px;
  font-weight: 600;
}