/* geral */
textarea {
  resize: none;
  cursor: pointer;

  outline: none;

  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;

  text-align: justify;
  font-size: 16px;
  font-weight: 900;

  border: 1px dashed rgb(9, 107, 107);
  border-radius: 5px;

  background-color: rgb(178, 209, 209);
  color: rgb(9, 107, 107);

}

textarea:hover {
  background-color: rgb(153, 184, 184);
}

textarea:focus {
  background-color: rgb(153, 184, 184);
  border: 2px dashed rgb(9, 107, 107);
}

/* Modo de Preenchimento */
.preenchimento {
  font-size: 16px;
  font-weight: 600;
}

/* Modo de Edição */
.edicao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;
}

/* Modo de Pré-visualizacao */
.pre-visualizacao {
  display: grid;
  grid-template-columns: 5fr 1fr 94fr;

  font-size: 16px;
  font-weight: 600;
}

/* menu (Modo de Edição e Pré-visualização) */
.menu {
  text-align: center;
  border-right: 1px solid #ccc;
}

.botaoMenu {
  margin-top: 0.25rem;
}

/* paragrafos (Modo de Preenchimento e Pré-visualização) */
.paragrafos {
  padding: 0.5rem 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;

  border: 2px dashed rgb(9, 107, 107);
  border-radius: 10px;

  background-color: rgb(178, 209, 209);
  color: rgb(9, 107, 107);

  text-align: justify;
}

p {
  margin-bottom: 0;
}

p + p {
  margin-top: 0.75rem;
}