<!-- MODO DE PREENCHIMENTO - forma como o documento é visto por quem o preenche -->
<div *ngIf="modoExibicao === 'preenchimento'" class="preenchimento">
  <div class="paragrafos padding-p" [innerHtml]="comoParagrafos(conteudo)">
  </div>
</div>

<!-- MODO DE EDIÇÃO - forma como o documento é visto por quem o cria enquanto ele está editando -->
<div *ngIf="modoExibicao === 'edicao'" class="edicao">
  <aside class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="botaoMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <button mat-menu-item (click)="habilitarPreVisualizacao()">
        <mat-icon>visibility</mat-icon>
        <span>Ativar Pré-visualização</span>
      </button>
    </mat-menu>
  </aside>
  <span></span>
  <textarea
    title="Insira aqui o conteúdo da Nota"
    [(ngModel)]="conteudo"
    appTextareaAutoresize
    >{{ conteudo }}</textarea
  >
</div>

<!-- MODO DE PRÉ-VISUALIZAÇÃO - forma como o documento é visto por quem o cria enquanto ele está pre-visualizando -->
<div *ngIf="modoExibicao === 'pre-visualizacao'" class="pre-visualizacao">
  <aside class="menu">
    <button
      mat-icon-button
      (click)="habilitarEdicao()"
      title="Desativar Pré-visualização"
      class="botaoMenu"
    >
      <mat-icon>visibility_off</mat-icon>
    </button>
  </aside>
  <span></span>
  <div class="paragrafos padding-p" [innerHtml]="comoParagrafos(conteudo)">
  </div>
</div>