<!-- TODO: modificar as Notas de Informação e Alerta de modo que elas possam
  ser apresentadas aos usuários de maneira mais adequada, sem influenciar
  muito na aparência da página -->

<app-metadadosdocumento></app-metadadosdocumento>

<button (click)="salvarDocumento()">Salvar</button>

<div style="width: 90%;">
  <app-info>
    <p>De acordo com Art. 8º, inciso I, do Decreto Estadual nº 9.666/2020, elaboração do ETP é exigida para as contratações operadas na modalidade Pregão. A princípio, não há exigência legal expressa para elaboração de ETP em contratações por outras modalidades ou para contratações diretas.</p>
  </app-info>
</div>

<mat-tab-group animationDuration="0ms" #tabgroup>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: darkorange; margin-right: 8px;" *ngIf="true">warning</mat-icon>
      OBJETO
    </ng-template>

    <div class="conteudo-item-documento">
      <div class="subitem-documento">
        <h4>Descrição do objeto:</h4>
        <textarea cols="80" rows="2" [(ngModel)]="descricaoObjeto"></textarea>
        <app-info>
          <p>Deve ser de forma precisa, suficiente e clara, vedadas as especificações que, por excessivas, irrelevantes ou desnecessárias, limitem ou frustrem a competição, além de configurar a prática de ato antieconômico. Art. 40, I, Lei n. 8.666/93; / Art. 3º, II, Lei n. 10.520/02;</p>
        </app-info>
      </div>

      <div class="subitem-documento">
        <h4>Tipo de contratação:</h4>
        <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="tipoContratacao" (change)=(onTipoContratacaoChange())>
          <h5>Fornecimento de bens/materiais:</h5>
          <mat-radio-button value="fornecimentoParcelaUnica">Fornecimento em parcela única.</mat-radio-button> <br>
          <mat-radio-button value="fornecimentoParcelaMultipla">Fornecimento em mais de uma parcela (apresentar cronograma no item 10).</mat-radio-button>
          <h5>Prestação de serviços:</h5>
          <mat-radio-button value="servicoPrecoGlobal">Prestação de serviços em regime de "empreitada" por preço global.</mat-radio-button> <br>
          <mat-radio-button value="servicoPrecoUnitario">Prestação de serviços em regime de "empreitada" por preço unitário (sob demanda).</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group *ngIf="prestacaoServico" aria-label="Selecione uma opção" [(ngModel)]="prestacaoServicoContinuada">
          <h5>Se prestação de serviço, é de natureza de execução continuada?</h5>
          <mat-radio-button value="Sim">Sim.</mat-radio-button>
          <mat-radio-button value="Nao">Não.</mat-radio-button>
          <div class="justificativa" *ngIf="prestacaoServicoContinuada=='Sim';">
            <h5>Justificativa de serviço de execução continuada:</h5>
            <textarea cols="80" rows="2" [(ngModel)]="justificativaServicoExecucaoContinuada"></textarea>
          </div>
        </mat-radio-group>
      </div>

      <div class="subitem-documento">
        <h4>Caracterização do objeto:</h4>
        <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="caracterizacaoObjeto">
          <mat-radio-button value="bemServicoComum">Bem ou serviço comum.</mat-radio-button> <br>
          <div style="margin-left: 2.5rem; margin-top: -0.5rem;">
            <app-info>
              <p>Segundo o Art. 3º, II, do Decreto nº 9.666/2020, são "bens cujos padrões de desempenho e qualidade possam ser objetivamente definidos pelo edital, por meio de especificações reconhecidas e usuais do mercado".</p>
            </app-info>
          </div>
          <mat-radio-button value="servicoComumEngenharia">Serviço comum de engenharia.</mat-radio-button>
          <div style="margin-left: 2.5rem; margin-top: -0.5rem;">
            <app-info>
              <p>Serviços comuns de engenharia são aqueles serviços que necessitam da participação e do acompanhamento de profissional engenheiro habilitado, nos termos do disposto na Lei nº 5.194, de 24 de dezembro de 1966, e que são padronizados no mercado de forma que os serviços prestados pelas diversas empresas do ramo são passíveis de ser objetivamente comparados entre si em termos de desempenho e qualidade.</p>
            </app-info>
          </div>
          <div style="margin-left: 1rem;">
            <app-info>
              <p>Para melhor compreensão do que sejam "serviços de engenharia", observar a definição e exemplos dados pela Orientação Técnica OT-IBR 002/2009-IBRAOP.</p>
            </app-info>
            <app-info>
              <p>Este modelo de termo de referência não deve ser utilizado para contratação de obras, ou de bens e serviços especiais nem de locações imobiliárias e alienações, porquanto estes tipos de contratação não poderão ser licitados através da modalidade de pregão (Art. 4º do Decreto nº 9.666/2020).</p>
            </app-info>
          </div>
        </mat-radio-group>
      </div>

      <div class="subitem-documento">
        <h4>Forma de adjudicação:</h4>
        <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="adjudicacao">
          <mat-radio-button value="porItem">Por Item.</mat-radio-button>
          <mat-radio-button value="porLote">Por Lote.</mat-radio-button>
          <div class="justificativa" *ngIf="adjudicacao=='porLote'">
            <h5>Justificativa para a formação de Lote(s):</h5>
            <textarea cols="80" rows="2" [(ngModel)]="justificativaAdjudicacaoLote"></textarea>
            <div style="margin-left: 2.5rem; margin-top: -0.5rem;">
              <app-info>
                <p>Justificar tecnicamente a opção por contratação em lote(s) e o(s) critério(s) adotado(s) para a formação de cada lote.</p>
              </app-info>
            </div>
          </div>
        </mat-radio-group>
        <div style="margin-left: 1rem;">
          <app-info>
            <p>A Lei nº 8.666/93 e a jurisprudência do TCU estabelecem que a adjudicação por item é a regra a ser adotada nas licitações. Na adjudicação por item, cada item do objeto é licitado separadamente com possibilidade de ser adjudicado a licitantes distintos, e permite maior competitividade. A adjudicação por lote é considerada exceção e somente pode ser utilizada por razões técnicas e econômicas devidamente justificadas. Na adjudicação por lote a fase de lances se processa com ofertas para o valor total do lote e a adjudicação é realizada aos vencedores dos lotes, ainda que estes não tenham apresentado o melhor lance para cada item individualmente.</p>
          </app-info>
        </div>
      </div>

      <div class="subitem-documento">
        <h4>Critério de julgamento das propostas:</h4>
        <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="criterioJulgamentoPropostas">
          <mat-radio-button value="menorPreco">Menor Preço.</mat-radio-button> <br>
          <div style="margin-left: 2.5rem; margin-top: -0.5rem;">
            <app-info>
              <p>É o critério padrão. As demais opções podem ser utilizadas conforme a especificidade do caso concreto e de acordo com as características de mercado.</p>
            </app-info>
          </div>
          <mat-radio-button value="maiorDesconto">Maior Desconto.</mat-radio-button> <br>
          <mat-radio-button value="menorTaxa">Menor Taxa.</mat-radio-button> <br>
          <mat-radio-button value="maiorOferta">Maior Oferta.</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <button disabled>Anterior</button>
    <button (click)='tabgroup.selectedIndex=1'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: darkgreen; margin-right: 8px;">check_circle</mat-icon>
      JUSTIFICATIVA
    </ng-template>

    <h2>{{ tipoContratacao }}</h2>
    <h2>{{ prestacaoServicoContinuada }}</h2>
    <h2>{{ caracterizacaoObjeto }}</h2>
    <h2>{{ adjudicacao }}</h2>
    <h2>{{ criterioJulgamentoPropostas }}</h2>

    <h3>{{ descricaoObjeto }}</h3>
    <h3>{{ justificativaServicoExecucaoContinuada }}</h3>
    <h3>{{ justificativaAdjudicacaoLote }}</h3>

    <button (click)='tabgroup.selectedIndex=0'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=2'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      ESPECIFICAÇÕES TÉCNICAS
    </ng-template>

    <h1>Elemento 3</h1>

    <button (click)='tabgroup.selectedIndex=1'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=3'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      QUALIFICAÇÃO TÉCNICA
    </ng-template>

    <h1>Elemento 4</h1>

    <button (click)='tabgroup.selectedIndex=2'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=4'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      PRAZOS, LOCAIS, FORMA DE EXECUÇÃO E RECEBIMENTO
    </ng-template>

    <h1>Elemento 5</h1>

    <button (click)='tabgroup.selectedIndex=3'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=5'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      DOTAÇÃO ORÇAMENTÁRIA
    </ng-template>

    <h1>Elemento 6</h1>

    <button (click)='tabgroup.selectedIndex=4'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=6'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      OBRIGAÇÕES DA CONTRATADA
    </ng-template>

    <h1>Elemento 7</h1>
    <button (click)='tabgroup.selectedIndex=5'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=7'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      OBRIGAÇÕES DA CONTRATANTE:
    </ng-template>

    <h1>Elemento 8</h1>

    <button (click)='tabgroup.selectedIndex=6'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=8'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      GARANTIA DO PRODUTO
    </ng-template>

    <h1>Elemento 9</h1>

    <button (click)='tabgroup.selectedIndex=7'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=9'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      INSTRUMENTO CONTRATUAL
    </ng-template>

    <h1>Elemento 10</h1>

    <button (click)='tabgroup.selectedIndex=8'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=10'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      ACOMPANHAMENTO E FISCALIZAÇÃO
    </ng-template>

    <h1>Elemento 11</h1>

    <button (click)='tabgroup.selectedIndex=9'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=11'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      PAGAMENTO
    </ng-template>

    <h1>Elemento 12</h1>

    <button (click)='tabgroup.selectedIndex=10'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=12'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      SANÇÕES
    </ng-template>

    <h1>Elemento 13</h1>

    <button (click)='tabgroup.selectedIndex=11'>Anterior</button>
    <button (click)='tabgroup.selectedIndex=13'>Próximo</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="color: red; margin-right: 8px;" *ngIf="false">error_outline</mat-icon>
      DISPOSIÇÕES FINAIS
    </ng-template>

    <h1>Elemento 14</h1>
    <button (click)='tabgroup.selectedIndex=12'>Anterior</button>
    <button disabled>Próximo</button>
  </mat-tab>
</mat-tab-group>
