mat-tab-group {
  width: 90%;
}

.conteudo-item-documento {
  padding: 0.5rem;
}

.subitem-documento {
  margin-bottom: 1rem;
}

.subitem-documento h4{
  font-size: 24px;
  margin: 0 0 0.5rem 0;
}

h4 + textarea {
  margin: 0.5rem 0 0 1.5rem;
}

h5 + textarea {
  margin: 0.5rem 0 0 2.5rem;
}

.subitem-documento h5 {
  font-size: 20px;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.subitem-documento mat-radio-button {
  font-size: 18px;
  margin: 0 0 0.5rem 2.5rem;
  margin-left: 2.5rem;
}

app-info p {
  margin-bottom: 0;
}