:root {
    --background-color: rgb(77, 209, 132);
    --foreground-color: rgb(70, 142, 90);
    
    --header-background-color: rgb(50, 102, 72);
    --header-color: white;

    --shadow-color: rgb(50, 102, 72);

    --primary-background-color: rgb(50, 102, 72);
    --primary-color: white;
}