.input-text h3 {
    display: inline;
    margin-left: 5%;
    font-size: 24px;
    vertical-align: top;
}

.input-text h4 {
    display: inline;
    margin-left: 5%;
    vertical-align: top;
}

textarea.input-text {
    resize: none;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    border-style: none;
    background-color: #ddd;
    box-shadow: 2px 1px 2px #aaa;
}