<div class="content">
  <mat-toolbar>
    <h1>Sistema de Licitação</h1>
    <span class="spacer"></span>
    <button mat-stroked-button class="botao-toolbar" routerLink="#">
      Voltar
    </button>
  </mat-toolbar>

  <div class="subsistemas">
    <a mat-stroked-button (click)="irPaginaDocumento()"><div class="container">Documentos</div></a>

    <a
      mat-stroked-button
      *ngIf="possuiPermissaoDocBase"
      (click)="irPaginaDocumentoBase()"
    >
      <div class="container">Documentos<br><br>Base</div>
    </a>
  </div>
</div>
