.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.spacer {
  flex: 1 1 auto;
}

.cabecalho-vazio {
  height: 5rem;
}

.subsistema {
  display: grid;
  grid-template-columns: 12fr 10fr 1fr 65fr 12fr;

  margin-bottom: 1rem;
}

.btn-subsistema {
  width: 200px;
  height: 100px;
}

p {
  margin-top: 0.5rem;

  font-size: 20px;
  font-weight: 500;
}

a {
  display: block;
  margin-top: 0.25rem;

  font-size: 16px;
  font-weight: 600;

  color: #555;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}