.content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.spacer {
  flex: 1 1 auto;
}

.subsistemas {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 400px;
}

a {
  border-radius: 10px;
  margin: 5rem 2.5rem 0;
  font-size: 50px;
  /* margin: 0 auto; */
}
