<div class="content">
  <mat-toolbar>
    <h1>Sistema de Licitação</h1>
    <span class="spacer"></span>
    <button mat-stroked-button (click)="irPortalAbc()">Portal ABC</button>
  </mat-toolbar>

  <div class="cabecalho-vazio"></div>
  <div class="subsistema">
    <span></span>
    <button
      class="btn-subsistema"
      mat-stroked-button
      (click)="irPaginaDocumento()"
      title="Ir para a página de criação e preenchimento de Documentos"
    >
      <mat-icon>north_east</mat-icon>
      <div>Documentos</div>
    </button>
    <span></span>
    <p>
      Criação, preenchimento e exportação de Documentos usados no processo de
      licitação.
      <a
        href="documentacao/documentos"
        title="ir para página de documentação do subsistema Documentos"
        >[Saiba mais]</a
      >
    </p>
    <span></span>
  </div>

  <div class="subsistema" *ngIf="permissaoAdmin">
    <span></span>
    <button
      class="btn-subsistema"
      mat-stroked-button
      (click)="irPaginaDocumentoBase()"
      title="Ir para a página de criação e edição de Documentos Base"
    >
      <mat-icon>north_east</mat-icon>
      <div>Documentos Base</div>
    </button>
    <span></span>
    <p>
      Criação e edição de Documentos Bases, empregados como modelos para
      Documentos.
      <!-- <a
        href="sistemaLicitacao/documentacao/documentosBase"
        title="ir para página de documentação do subsistema Documentos Base"
        >[Saiba mais]</a
      > -->
    </p>
    <span></span>
  </div>

  <div class="subsistema" *ngIf="permissaoAdmin">
    <span></span>
    <button
      class="btn-subsistema"
      mat-stroked-button
      (click)="irPaginaAnaliseDocumento()"
      title="Ir para a página de análise de Documentos"
    >
      <mat-icon>north_east</mat-icon>
      <div>Análise de Documentos</div>
    </button>
    <span></span>
    <p>
      Análise de Documentos quanto à sua corretude e completude.
      <!-- <a
        href="sistemaLicitacao/documentacao/analiseDocumentos"
        title="ir para página de documentação do subsistema Análise de Documentos"
        >[Saiba mais]</a
      > -->
    </p>
    <span></span>
  </div>
</div>
